*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #222;
	color: #fff;
	font-family: system-ui;
}
.crud{
	width: 80%;
	margin: auto;
}
.head{
	text-align: center;
	text-transform: uppercase;
	margin: 10px 0px;
}
input{
	width: 100%;
	height: 30px;
	outline: none;
	border: none;
	background: #111;
	margin: 4px 0px;
	border-radius: 4px;
	padding: 10px;
	color: white;
}
input:focus{
	background: #000;
	transform: scale(1.05);
}
.price input{
	width: 20%;
}
#total{
	background: #a00d02;
	padding: 7px;
	border-radius: 5px;
}
#total::before{
	content: "Total : ";
}
button{
	width: 100%;
	height: 30px;
	border: none;
	cursor: pointer;
	border-radius: 50px;
	font-size: 20px;
	transition: 0.5s;
}
button:hover{
	background: #ff9;
	letter-spacing: 2px;
}
.btnSearch{
	display: flex;
	justify-content: space-around;
}
.btnSearch button{
	width: 45%;
}
table{
	width: 100%;
	text-align: center;
	margin: 10px 0px;
}
table th{
	text-transform: uppercase;
}
th,td{
	padding: 5px;
}
#deleteAll{
	margin: 10px;
}